# Local
.DS_Store
*.local
*.log*

# Python
__pycache__
*.py[cod]
*.egg-info/
.venv/
.ruff_cache
.pytest_cache

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
/WORKX
build
